/vendor/
/node_modules/
/.env
/.env.backup
/.env.production
/.env.local
/storage/laravel.log
/storage/logs/
/storage/framework/cache/data/
/storage/framework/views/*.php
/storage/framework/sessions/*
/storage/framework/testing/
/storage/app/private/
/.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db
/public/hot
/public/storage
/storage/app/public/
/.php_cs.cache
.php-cs-fixer.cache
/_ide_helper.php
_ide_helper_models.php
/.scribe.auth.php
.scribe.config.php
*.code-workspace
